body{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1{
    box-shadow: 3px 3px 3px mintcream;
    /* animation: blink 1s infinite; */
}
@keyframes blink {
    0%{
        /* opacity:0.25; */
        transform: translate(5px,5px);
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}
/* #text1{
    font-size: 20px;
    border: none;
    z-index: 1;
    
} */